<?xml version="1.0" ?>
<!--
/**
 * Copyright © Risecommerce (support@risecommerce.com). All rights reserved.
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sitemap\Model\ResourceModel\Catalog\Product">
        <plugin name="Risecommerce_XmlSitemap_Plugin_Magento_Sitemap_Model_ResourceModel_Catalog_Product" type="Risecommerce\XmlSitemap\Plugin\Magento\Sitemap\Model\ResourceModel\Catalog\Product" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Sitemap\Model\ResourceModel\Catalog\Category">
        <plugin name="Risecommerce_XmlSitemap_Plugin_Magento_Sitemap_Model_ResourceModel_Catalog_Category" type="Risecommerce\XmlSitemap\Plugin\Magento\Sitemap\Model\ResourceModel\Catalog\Category" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Sitemap\Model\ResourceModel\Cms\Page">
        <plugin name="Risecommerce_XmlSitemap_Plugin_Magento_Sitemap_Model_ResourceModel_Cms_Page" type="Risecommerce\XmlSitemap\Plugin\Magento\Sitemap\Model\ResourceModel\Cms\Page" sortOrder="10" disabled="false"/>
    </type>
    <type name="Risecommerce\Blog\Model\ResourceModel\Post\Collection">
        <plugin name="Risecommerce_XmlSitemap_Plugin_Risecommerce_Blog_Model_ResourceModel_Post_Collection" type="Risecommerce\XmlSitemap\Plugin\Risecommerce\Blog\Model\ResourceModel\Post\Collection" sortOrder="10" disabled="false"/>
    </type>
    <type name="Risecommerce\Blog\Model\ResourceModel\Category\Collection">
        <plugin name="Risecommerce_XmlSitemap_Plugin_Risecommerce_Blog_Model_ResourceModel_Category_Collection" type="Risecommerce\XmlSitemap\Plugin\Risecommerce\Blog\Model\ResourceModel\Category\Collection" sortOrder="10" disabled="false"/>
    </type>
</config>