<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Risecommerce (support@risecommerce.com). All rights reserved.
 *
 */
 -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Risecommerce_XmlSitemap"/>
</config>